*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body
{
    font-family: "Roboto";
}
.header{
    background: #006633;
    height: 85px;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    margin:20px auto;
    width: 100%;
   
}
.logo
{
    width:200px;
    height:85px;
    object-fit: contain;
}

.bal
{
    width:15%;
    display:flex;
    flex-direction: row;

}
.kozep
{
    width:50%;
    display:flex;
    flex-direction: row;
    flex:1;
}
.jobb
{
    width:35%;
    display:flex;
    flex-direction: row;
    margin-left:auto;
    
}

.hamburger
{
    color:white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 25px;
}

.eltunt{
    color:white;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 0 10px;
    display: none;
}
ul{
    text-decoration: none;
    list-style:none;
    display: flex;

    
}

ul li{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    height:85px;
    display: flex;
    align-items: center;

}


ul  a
{
    color:white;
    padding:0 20px;
}

ul li a:hover
{
    text-decoration: underline;
    color:white;
}

ul li a i
{
    padding-right:10px;
}



.jobbnav
{
margin-left:auto;
}

.jobbnav li i
{
    padding:0;
}
.petrakepe
{
    width:64px;
    height:64px;
    border-radius: 50%;
    object-fit: cover;
}

