*
{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root
{
    --green: #006633;
    --lightgreen:#55AE3A;
}

.container
{
    width:620px;
    height:220px;
    margin : 100px auto;
    background-color: white;
}

.header 
{
    background-color: var(--green);
    width:620px;
    height:35px;
    justify-content: center;
    
}

.header,.header_content,.fullname,.nickname,.label-container
{
    display: flex;
    align-items:  center; 
}

.background
{
    background-color: white;
    transform: skew(-30deg);
   
}

.header_content
{
    transform: skew(30deg);
    height:35px;
    padding:0px 20px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px; 
    text-transform: uppercase;  
    color: #000000;
}

.fa-user-alt 
{
    padding-right:5px;
    font-size: 16px;
}

input[type=text] 
{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid var(--green);
    border-radius: 44px;
    height:45px;
    width:450px;
    padding-left: 15px;
}

#fullname_label,#nickname_label
{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--lightgreen);
    height: 45px;
}

.fullname,.nickname
{
    color: var(--green);
    font-weight: 700;
    margin-left:16px;
    font-size: 20px;
    line-height: 23px;
}

.first,.second
{
    height:50%;
    margin:10px 0px;
}
.label-container
{
    flex-direction: column;
    height: 185px;
}
  
::placeholder 
{
    color: var(--lightgreen); 
}

body
{
    background-color: gray;
    font-family: 'Roboto';
    font-style: normal;
}