*
{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

:root
{
    --green:#006633;
    --white:#ffffff;
}
th{
    color:var(--white);
    background: var(--green);
}


table{
    height: 56px;
    max-width:1720px;
    width:100%;
}

.last-column {
    width: 5%;
    text-align: right;
    padding-right: 10px;
}

.first-column{
    width:5%;
    padding-left: 10px;
}

.column{
    width:11.25% ;
}
