*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    --green:#006633;
    --white:#FFFFFF;
}
.container
{
    background: var(--green);
    border-radius: 16px;
    margin :100px auto;
    height: 150px;
    width: 500px;
}

.first,.message,.button1{
    font-weight: 700;
}
.message {
    
    line-height: 30px;
    font-family: 'Roboto';
    font-size: 20px;
    top: 12px;
    text-align: center;
    color: var(--white);
    padding-top: 12px;
}
.second{
    font-weight: 400;
    padding-top:0;
}
.message,.button1{
    font-style: normal;
}

.button1{  
    margin-right: 11px;
    border-radius: 8px;
    border: 1px solid #F2F2F2;    
    padding: 8px 32px;
    background: #BFBFBF;
    color:var(--white);
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}


.button-delete
{
    width: 88px;
    height: 40px;
    background: #EF3A43;
    padding: 8px 32px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    border-radius: 8px;    
    color:white;
    transition: duration 2s;
    margin-left: 11px;
}

.botton-delete,.buttons,.button1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons
{
    margin-top: 13px;
}

.button1:hover{
    background: rgb(76, 80, 76);
    color:rgb(113, 212, 86);
    }
.button-delete:hover{
    background: rgb(22, 1, 1);
    color: rgb(211, 14, 14);
}
body
{
    background-color: gray;
}