*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
 --green:#006633;
 --light-green:#55AE3A;
 --white: #ffffff;
 --black:#000000;
}
body
{
    font-family: 'Roboto';
}

.wrapper
{
    height: 360px;
    width: 500px;
    border-radius: 16px;
    background: var(--green);
    margin:100px auto;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper,.button-container,.subscribe,.name-container,.newsletter-container,.newsletter,.email-container
{
    align-items: center;
}

.newsletter-container,.checkbox-container,input[type=text]{
    width: 400px;
}
.newsletter
{
    flex-direction: row;
}

.checkbox-container
{
    flex-direction: row;
    margin-top:10px;
    color:white;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
}
.underline
{
    padding-left:5px;
    text-decoration: underline;
}
.email-container
{
    flex-direction: column;
}

.email-container,.checkbox-container,.newsletter-container,.name-container,.subscribe,.button-container,.newsletter,.wrapper
{
    display:flex;
}
.newsletter-text
{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.fa-envelope
{   
    color: #FFFFFF;
    font-size: 45px;
    margin-right: 12px;
}

#accept
{
    margin-right: 5px;
}
input[type=text] {
    height:50px;
    background: #FFFFFF;
    border: 2px solid #55AE3A;
    border-radius: 4px;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--black);
    padding-left: 12px;
}

.subscribe
{
    height: 50px;
    width: 240px;
    border-radius: 44px;
    padding: 8px;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: var(--white);
    background: var(--light-green);
    box-shadow: 0px 1px 2px #1E1E25, 0px 2px 4px #1E1E22;
    border-radius: 44px;
}

.subscribe-text 
{
    padding-left:9px;
}

.subscribe:hover
{
    color:var(--light-green);
    background-color: var(--white);;
}

::placeholder
{
    font-size: 29px;
    font-weight: 400;
    line-height: 34px;
    color: var(--black);
}

.button-container,.subscribe,.name-container,.newsletter
{
   justify-content: center;
}