* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.wrapper{
height: 360px;
width: 300px;
border-radius: 36px;
background: #55AE3A;
margin:100px auto;
position: relative;

}




img{
    border-radius: 100px;
    height: 128px;
    width: 128px;
    border: 4px solid #55AE3A;
    position: absolute;
    left: 86px;
  top: 4px;
  
}   

.nev{
    height: 20px;
    width: 300px;
    
    top: 129px;
    position: absolute;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;


display: flex;

justify-content: center;
color: #FFFFFF;

}

.sportag{
   
    
    color: #FFFFFF;
    
    width:300px;
    top:154px;
    
    margin: 5px auto 14px;
   

   

}

.cimszo{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Fehér */

color: #FFFFFF;
height: 17px;
width: 142px;
left: 90.99993896484375px;
top: 154px;
position: absolute;

}


.szoveg{
position: absolute;
height: 116px;
width: 249.6644287109375px;
left: 25.00006103515625px;
top: 185px; 


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: justify;
color: #FFFFFF;
}

.fa-soccer-ball-o{
    position: absolute;
    top:155px;
    left:71.68px;

}


ul {
        
    width: 200px;
    height: 30px;
    
    display: flex;
    flex:1;
    justify-content: space-between;
    list-style: none;
 
}

ul li{
        
     

   

text-decoration: none;


text-align: center;
font-size: 20px;
display: block;
width:30px;
height:30px;

}

ul li a  {
    background: #006633;
    text-decoration: none;
    color:white;
    display: block;
    border-radius: 50%;
}

nav{
    position: absolute;
    top:313px;
    left:50px;
    width:200px;
    height: 30px;
}


li a:hover{
    background-color: rgb(41, 228, 31);
    color:red;
}