* 
{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root
{
    --green:#006633;
    --white:#ffffff;
}
body
{
    font-family: 'Roboto';
}
header
{
    height: 438px;
    margin: 100px auto;
}
header,.picture,.picture >img,.bottom_part
{
    width:700px
}
.picture,.picture >img
{
    height:400px;
    object-fit: cover;
}

.bottom-left{
    height:38px;
    background: var(--green);
    
}

.bottom-left,.bottom-right,.right-details,.right-date,.sport
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sport{   
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 10px; 
    height: 38px;
    transform: skew(30deg);  
}

.sport-background{
    background-color: white;
    transform: skew(-30deg);
    margin-left:16px;
}

.bottom-right{
    width:260px ;
    margin-left:auto;
}

.right-details{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    padding-left: 5px;
    width:150px;
}

.icon{
    margin-right:15px;
    margin-left: 5px;
}
.right-date
{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    height: 22px;
    width: 116px;
}

