*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    font-family: 'Roboto';
}
:root
{
    --green:#006633;
    --white:#FFFFFF;
}
.container-big{
    margin:50px auto;
    height: 300px;
   
    border-radius: 44px;
}
.container-big,.container-wide,.name-wide
{
    width:300px;
}
.container-big,.container-wide
{
    background: var(--green);
}

img
{
    width: 235px;
    height:235px;
    border-radius: 44px 44px 0px 0px;
}

.image_container-big
{
    align-items: center;
    height: 268px;
}

.image_container-big,.image_container-wide,.container-wide{
    display: flex;
    justify-content: center;
}
.name-big,.name-wide,.job-wide{
    text-align: center;
}
.name-big
{
    font-weight: 700;
    font-size: 26px;
    height: 32px;
}
.name-wide,.name-big
{
    font-weight: bold;
}
.name-big,.name-wide,.job-wide
{
    color: var(--white); 
}

.name-big,.name-wide,.job-wide
{
    line-height: 20px;
}
.container-wide
{
    margin :300px auto;
    height: 125px;
    flex-direction: column;
    position:relative;
}


.container-wide,.image_container-wide
{
    border-radius: 36px;
}

.image_container-big,.name-big,.image_container-wide
{
    width: 100%;
}

.text-wide{
   bottom:6px;
}

.text-wide,.image_container-wide
{
    position: absolute;
}

.name-wide
{
    font-size: 20px;
}

.job-wide
{
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}
.name-wide,.job-wide
{
    height: 21px;
}
.image_container-wide,.image_container-wide >img 
{
    height: 128px;
}
.image_container-wide{
    bottom:50%;
}
.image_container-wide >img
{
    width: 128px;
    border-radius: 50%;
    border: 4px solid var(--green);
}